@model IEnumerable<Friend>

@using HW4.Controllers;
@using HW4.Models.Entities;


<h2>Список друзей</h2>
<table class=“table”>
    <tr>
        <th>ID друга</th>
        <th>Имя друга</th>
        <th>Место нахождения друга</th>
    </tr>
    @foreach (var friend in Model)
    {
        <tr>
            <td>@friend.Id</td>
            <td>@friend.FriendName</td>
            <td>@friend.Place</td>
            <td>
                <a href="@Url.Action("Edit", new { id = friend.Id })" class="btn btn-primary">Edit</a>
            </td>
            <td>||</td>
            <td>
                <a href="@Url.Action("Delete", new { id = friend.Id })" class="btn btn-primary">Delete</a>
            </td>

        </tr>
    }
</table>

<form action="/Friend/Create">
    <button type="submit">Create</button>
</form>

